.father {
  display: flex;
  flex-wrap: wrap-reverse;
  align-content: space-around;
  justify-content: space-around;
  height: 100vh;
}

.child {
  width: 100px;
  height: 100px;
  background: peru;
  color: aliceblue;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
