body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.grid {
  /* Layout */
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, 150px);
  grid-template-areas:
    "header header header header"
    "content content content nav"
    "content content content nav"
    "footer footer footer footer";
}

.header {
  /* Default */
  grid-area: header;
  /* Design */
  background-color: fuchsia;
}

.content {
  /* Default */
  grid-area: content;
  /* Design */
  background-color: chocolate;
}

.nav {
  /* Default */
  grid-area: nav;
  /* Design */
  background-color: crimson;
}

.footer {
  /* Default */
  grid-area: footer;
  /* Design */
  background-color: cyan;
}
